<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ATSOPTANDROID"
        tools:targetApi="31">
        <activity
            android:name=".presentaion.home.ShortsScreen"
            android:exported="false"
            android:label="@string/title_activity_shorts_screen"
            android:theme="@style/Theme.ATSOPTANDROID" />
        <activity
            android:name=".di.AppModule"
            android:exported="false"
            android:label="@string/title_activity_app_module"
            android:theme="@style/Theme.ATSOPTANDROID" />
        <activity
            android:name=".presentaion.components.LiveItemCard"
            android:exported="false"
            android:label="@string/title_activity_live_item_card"
            android:theme="@style/Theme.ATSOPTANDROID" />
        <activity
            android:name=".presentaion.components.BottomNavBar"
            android:exported="false"
            android:label="@string/title_activity_bottom_nav_bar"
            android:theme="@style/Theme.ATSOPTANDROID" />
        <activity
            android:name=".presentaion.components.TopTabBar"
            android:exported="false"
            android:label="@string/title_activity_top_tab_bar"
            android:theme="@style/Theme.ATSOPTANDROID" />
        <activity
            android:name=".presentaion.HomeViewmodel"
            android:exported="false"
            android:label="@string/title_activity_home_viewmodel"
            android:theme="@style/Theme.ATSOPTANDROID" />
        <activity
            android:name=".presentaion.SigninActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.ATSOPTANDROID" />
        <activity
            android:name=".presentaion.SignupActivity"
            android:exported="false"
            android:label="@string/title_activity_signup"
            android:theme="@style/Theme.ATSOPTANDROID" />
        <activity
            android:name=".presentaion.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_signin"
            android:theme="@style/Theme.ATSOPTANDROID" />
        <activity
            android:name=".presentaion.MyActivity"
            android:exported="false"
            android:label="@string/title_activity_my"
            android:theme="@style/Theme.ATSOPTANDROID" />
        <activity
            android:name=".presentaion.home.HomeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ATSOPTANDROID">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>